.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  background: transparent;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.img {
  width: 160px;
}
.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
  border: 1px solid #dad7d7;
  padding-left: 10px;
}

.button {
  background-color: #fcfcfc;
  outline: 0;
  border: 1px solid #dad7d7;
}

.buttonImg {
  height: 100%;
  background-color: #ffffff;
  padding: 0.5em 1.2em;
}
