.content {
  display: flex;
}

.detail {
  /* grow 와 shrink 11로 지정 공간이 충분하다면 늘어날수있도록 */
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}

.skeleton {
  padding: 30px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}
.navbar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 800px;
  align-items: center;
  cursor: pointer;
  color: #6e6c6c;
}

.navbar p {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 10px;
  user-select: none;
}

@media screen and (max-width: 48rem) {
  .content {
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    display: none;
  }
}
